<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" th:href="@{/css/profile-edit.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div th:insert="~{fragments/sidebar:: sidebar}"></div>
<div class="content">
    <div class="profile-container">
        <!-- Sidebar with profile picture and links -->
        <div class="profile-sidebar">
            <div class="diagonal-text">USER</div>
            <img id="image"
                 src="https://st.depositphotos.com/3265665/4462/i/450/depositphotos_44627471-stock-photo-transparent.jpg"
                 alt="Profile picture" class="profile-picture">
            <div class="username">grinsdfssdfh</div>
            <ul class="profile-links">
                <li><a class="under-pic-btn" href="#">Инвентарь</a></li>
            </ul>
        </div>

        <!-- Main profile content -->
        <div class="profile-content">
            <form th:action="@{/profile/edit}" method="post" id="form" class="text-form">
                <div class="profile-block">
                    <h2>Имя, фамилия</h2>
                    <div class="form-container">

                        <input type="text" id="fullName" name="fullName">

                    </div>
                </div>
                <div class="profile-block">
                    <h2>Nickname</h2>
                    <div class="form-container">

                        <input type="text" id="nickname" name="nickName">

                    </div>
                </div>
                <div class="button-container">
                    <button class="under-pic-btn" type="submit">Сохранить</button>
                </div>
            </form>
            <!-- Basic info -->

        </div>
    </div>
</div>

<!-- Diagonal User text -->

</div>
<footer th:replace="~{fragments/footer:: footer}"></footer>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/edit-script.js}"></script>
</body>
</html>
