<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" th:href="@{css/profile.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div th:insert="~{fragments/sidebar:: sidebar}"></div>
<main>
    <div class="profile-container">
        <!-- Основная информация о профиле -->
        <div class="profile-block profile-info">
            <div class="img-container">
<!--                Image here-->
                <img src="https://st.depositphotos.com/3265665/4462/i/450/depositphotos_44627471-stock-photo-transparent.jpg" alt="Profile picture" class="profile-picture">
            </div>
            <div class="username-container">
<!--                Username here-->
            </div>
        </div>
        <!-- Детали профиля -->
        <div class="profile-block profile-details">
            <h3>Инфа</h3>
            <ul>
                <li><strong>Роль:</strong> <span id="role"></span></li>
            </ul>
        </div>
        <!-- Друзья -->
        <div class="profile-block profile-friends">
            <h3>Други</h3>
            <ul id="friends-list">
                <li>Friend 1</li>
                <li>Friend 2</li>
                <li>Friend 3</li>
            </ul>
        </div>
        <!-- История активности -->
        <div class="profile-block profile-activity">
            <h3>Последняя активность (Инвентарь)</h3>
            <ul id="activity-list">
                <li>Posted a new article</li>
                <li>Commented on a photo</li>
                <li>Joined a new group</li>
            </ul>
        </div>
    </div>
</main>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/profile-script.js}"></script>
</body>
</html>
