#popup {
    display: none;
    position: absolute;
    bottom: 70px; /* Расположение над полем ввода */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 10px;
    z-index: 1000;
    color: #fff;
    animation: fadeIn 0.5s;
}

#popup:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #444;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

#popup button {
    background-color: #f39c12;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}