/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
    color: white;
}


.profile-container {
    max-width: 800px;
    margin: 2rem auto;
    background: #2a2a2a;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-block {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #333;
    border-radius: 5px;
}

.profile-info {
    text-align: center;
    display: flex;
}

.username {
    display: block;
    align-self: center;
}
.username-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    align-self: flex-start;
    opacity: 0;
}

.profile-details ul,
.profile-friends ul,
.profile-activity ul {
    list-style-type: none;
    padding: 0;
}

.profile-details li,
.profile-friends li,
.profile-activity li {
    margin-bottom: 0.5rem;
}

.profile-details strong,
.profile-friends strong,
.profile-activity strong {
    display: inline-block;
    width: 100px;
    color: #ff9800;
}
