.sidebar-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #fff;
    transition: color 0.3s ease;
}

.sidebar-button:hover {
    color: #ff9000; /* Slightly lighter color on hover */
}

.action-button {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
    color: #ff9000;
}

