/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
}

a{
    text-decoration: none;
    color: inherit;
}




/* All about header */

/* All about sidebar */

/* All about containers */
.container {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Stretch items to fill the container vertically */
    flex: 1;
    margin-top: 20px;
    max-height: calc(100vh - 145px);
}
.chat-container,
.online-users {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: #ffffff;
}

.chat-container {
    width: 60%;
    display: flex;
    flex-direction: column;

}
.messages-container{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color:  rgb(50, 50, 50);
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(33, 33, 33);
}


.online-users {
    width: 20%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* All about messages */
.messages {
    max-height: 100%;
    overflow-x: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.message {
    background-color: rgb(68, 68, 68);
    max-width: 70%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.message-author {
    display: flex;
    font-weight: bold;
    align-self: flex-start;
}
.message-author.self {
    display: flex;
    font-weight: bold;
    align-self: flex-end;
}

.message-date {
    color: #666;
    display: flex;
    font-size: 12px;
    align-self: flex-end;
    margin-left: 10px;
}

.message-content {
    text-align: left;
    overflow-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}
.message.self {
    background-color: #ff9000;
    align-self: flex-end;
    color: #333;
}

.message-form {
    margin-top: 20px;
    display: flex;
}

.message-form input {
    flex: 1; /* Input fills remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgb(68, 68, 68);
}



/* All about online users */

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    margin-bottom: 10px;
}

.online-users h2{
    text-align: center;
    margin-bottom: 20px;
}

/* All anout footer */
footer {
    text-align: center;
    margin-top: 20px;

    background-color: #333;
    color: #fff;
    padding: 10px 0;
    height: 38px;
}
