<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reg-style.css}">

    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="form-container">
        <div th:if="${param.error}">
            Invalid username and password.</div>
        <div th:if="${param.logout}">
            You have been logged out.</div>
        <form th:action="@{/login}" method="post" class="login-form">
            <h2>Login</h2>
            <label for="username">Login:</label>
            <input type="text" id="username" name="username"  required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <div class="google-sign-in">
            <p>Зайти через <a href="/oauth2/authorization/google">Google</a></p>
        </div>
        <div class="vk-sign-in">
            <p>Зайти через <a href="/oauth2/authorization/vk">Vkontakte</a></p>
        </div>
        <p>Нет аккаунта? <a href="/registration">Регистрация</a></p>
    </div>
</div>
</body>
</html>
