<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BazarChat</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header th:insert="~{fragments/header:: header}"></header>
<div th:insert="~{fragments/sidebar:: sidebar}"></div>
<div class="container">
    <div class="chat-container">
        <div class="messages-container">
            <div id="message-box" class="messages">

                <!-- Chat messages will be displayed here -->
            </div>
            <form id="messageForm" th:action="@{/api/v1/messages}" method="post" class="message-form">
                <input type="text" id="messageInput" name="message" placeholder="Type your message...">
                <button class="action-button" type="submit"><i class="fa-solid fa-comments-dollar fa-2xl"></i></button>
            </form>
        </div>
    </div>
    <div class="online-users">
        <h2>Online Users</h2>
        <ul id="user-list" class="user-list">
            <!-- Online users will be displayed here -->
        </ul>
    </div>
</div>
<footer th:replace="~{fragments/footer:: footer}"></footer>
<script th:src="@{https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/online.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/message-script.js}"></script>
<script th:src="@{/js/websocket.js}"></script>
</body>
</html>
